doctype html
html(lang = "ru")
  head
    title= "Дронька"

    meta(charset = "utf-8")

    meta(name = "keywords", content = "")
    meta(name = "description", content = "")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")

    link(href = "css/normalize.css", rel = "stylesheet")
    link(href = "css/animate.css", rel = "stylesheet")
    link(href = "css/new.css", rel = "stylesheet")
  body
    //- div.promo
    //-   img(src="img/simhoko.gif")

    mixin thirdPartPortfolioItem(className, img, title, description)
      div(class="portfolio__item portfolio__item--#{className}")
        img(src= img).portfolio__image
        h2.portfolio__title= title
        p.portfolio__description= description

    div.header
      div.first
        div.menu

          div.menu__list.menu__list--design.animated.fadeInLeft
            a(href="#").menu__title Design

            a(href="https://vk.com/addsome").menu__link.menu__link--random random
            a(href="https://vk.com/addsome").menu__link.menu__link--logos logos
            a(href="#").menu__link.menu__link--landings landings
            a(href="#").menu__link.menu__link--illustrations illustrations

          div.menu__list.menu__list--music.animated.fadeInLeft
            a(href="#").menu__title Music

            a(href="#").menu__link.menu__link--simhoko Simhoko
            a(href="#").menu__link.menu__link--naarolman Naar Olman

          div.menu__list.menu__list--video.animated.fadeInLeft
            a(href="#").menu__title Video

            a(href="#").menu__link.menu__link--animation animation

          div.menu__list.menu__list--links.animated.fadeInLeft
            a(href="#").menu__title Links

            a(href="#").menu__link.menu__link--add • add
            a(href="#").menu__link.menu__link--mishanya Mikhail Semin

          div.menu__list.menu__list--chat.animated.fadeInLeft
            a(href="#").menu__title Chat

            a(href="#").menu__link.menu__link--andron Andron Makarov
            a(href="#").menu__link.menu__link--semin Mikhail Semin

      div.second

        a(href="#").title.animated.fadeInLeft Second Part

        div.previews.animated.fadeInLeft
          div.previews__container.previews__container--illustrations
            - var illustrations = ["img/logo1.jpg", "img/logo2.jpg", "img/logo3.jpg", "img/logo4.jpg", "img/logo5.jpg", "img/logo6.jpg", "img/logo7.jpg", "img/logo8.jpg", "img/logo9.jpg", "img/logo10.jpg", "img/logo11.jpg", "img/logo12.jpg", "img/logo13.jpg", "img/logo14.jpg", "img/logo15.jpg"];

            for illustration in illustrations
              div.previews__item.previews__item--illustrations
                img(src="#{illustration}").previews__image
                a(href="#").previews__link &gt;
                div.previews__blackoverlay


          div.previews__container.previews__container--animation
            div.previews__item.previews__item--animation
              h1 TESTING...............

              img(src="").previews__image
              a(href="#").previews__link &gt;
              div.previews__blackoverlay
        
      div.third

        a(href="#").title.animated.fadeInLeft Third Part

        div.portfolio

          div.portfolio__container.portfolio__container--random

          div.portfolio__container.portfolio__container--logos

          div.portfolio__container.portfolio__container--landings

          div.portfolio__container.portfolio__container--illustrations
            +thirdPartPortfolioItem("illustrations", "img/logo1full.png", "Monkey", "Иллюстрация окровавленного шлема с отсылкой к игре DOOM, сочетающая в себе первобытную агрессию. Отдалённо напоминает профиль гориллы.")
            +thirdPartPortfolioItem("illustrations", "img/logo2full.jpg", "Автопортрет", "Изображение себя в привычном состоянии.")
            +thirdPartPortfolioItem("illustrations", "img/logo3full.jpg", "Редис", "Иллюстрация/логотип позитивного растения.")
            +thirdPartPortfolioItem("illustrations", "img/logo4full.jpg", "Clint", "Портрет известного героя вестернов в стиле flat.")
            +thirdPartPortfolioItem("illustrations", "img/logo5full.jpg", "Плакат", "Мотивирующий плакат.")
            +thirdPartPortfolioItem("illustrations", "img/logo6full.jpg", "Trand-photo", "Авторская обработка своих фотографий, изображающая мечты.")
            +thirdPartPortfolioItem("illustrations", "img/logo7full.jpg", "Zorge", "Иллюстрация/логотип известного разведчика.")
            +thirdPartPortfolioItem("illustrations", "img/logo8full.jpg", "Comediant", "Иллюстрация предположительного убийцы Кеннеди.")
            +thirdPartPortfolioItem("illustrations", "img/logo9full.jpg", "D", "Одна из иконок. В данном случае обозначает “Design”.")
            +thirdPartPortfolioItem("illustrations", "img/logo10full.jpg", "Something", "Изображение странной конструкции.")
            +thirdPartPortfolioItem("illustrations", "img/logo11full.jpg", "Плакат для Конкурса", "С собственными иллюстрациями.")
            +thirdPartPortfolioItem("illustrations", "img/logo12full.jpg", "IKiM", "Логотип кафедры МПУ – Институт Коммуникации и Медибизнеса.")
            +thirdPartPortfolioItem("illustrations", "img/logo13full.jpg", "Simhoko", "Для себя.")
            +thirdPartPortfolioItem("illustrations", "img/logo14full.jpg", "D1AZZZ", "Часть работы по оформлению канала на ресурсе Twitch.tv.")

          div.portfolio__container.portfolio__container--animation
            //- +thirdPartPortfolioItem("", "", "", "")
          

    div.sidebar
      a(href="#").icon
        img(src="img/menu.png")
      
      div.navbar
        ul.navbar__list
          - var menus = ["D", "M", "V", "L", "Chat"];

          for menu in menus
            li.navbar__item
              a(href="#").navbar__link= menu
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="js/app.js")