doctype html
html(lang = "ru")
  head
    title= "Дронька"

    meta(charset = "utf-8")

    meta(name = "keywords", content = "")
    meta(name = "description", content = "")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")

    link(href = "css/normalize.css", rel = "stylesheet")
    link(href = "css/animate.css", rel = "stylesheet")
    link(href = "css/new.css", rel = "stylesheet")
  body
    //- div.promo
    //-   img(src="img/simhoko.gif")

    mixin thirdPartPortfolioItem(className, img, title, description)
      div(class="portfolio-item portfolio-item_#{className}")
        img(src= img).portfolio-item__image
        h2.portfolio-item__title= title
        p.portfolio-item__description= description

    div.header
      div.first
        div.menu

          div.menu-list.menu-list_design.animated.fadeInLeft
            a(href="#").menu-list__title Design

            a(href="https://vk.com/addsome").menu-list__link.menu-list__link_random random
            a(href="https://vk.com/addsome").menu-list__link.menu-list__link_logos logos
            a(href="#").menu-list__link.menu-list__link_landings landings
            a(href="#").menu-list__link.menu-list__link_illustrations illustrations

          div.menu-list.menu-list_music.animated.fadeInLeft
            a(href="#").menu-list__title Music

            a(href="#").menu-list__link.menu-list__link_simhoko Simhoko
            a(href="#").menu-list__link.menu-list__link_naarolman Naar Olman

          div.menu-list.menu-list_music.animated.fadeInLeft
            a(href="#").menu-list__title Video

            a(href="#").menu-list__link.menu-list__link_animation animation

          div.menu-list.menu-list_links.animated.fadeInLeft
            a(href="#").menu-list__title Links

            a(href="#").menu-list__link.menu-list__link_add • add
            a(href="#").menu-list__link.menu-list__link_mishanya Mikhail Semin

          div.menu-list.menu-list_chat.animated.fadeInLeft
            a(href="#").menu-list__title Chat

            a(href="#").menu-list__link.menu-list__link_andron Andron Makarov
            a(href="#").menu-list__link.menu-list__link_semin Mikhail Semin

      div.second

        a(href="#").second__title.animated.fadeInLeft Second Part

        div.previews.animated.fadeInLeft
          div.category-container.category-container_illustrations
            - var illustrations = ["img/logo1.jpg", "img/logo2.jpg", "img/logo3.jpg", "img/logo4.jpg", "img/logo5.jpg", "img/logo6.jpg", "img/logo7.jpg", "img/logo8.jpg", "img/logo9.jpg", "img/logo10.jpg", "img/logo11.jpg", "img/logo12.jpg", "img/logo13.jpg", "img/logo14.jpg", "img/logo15.jpg"];

            for illustration in illustrations
              div.category-item.category-item_illustrations
                img(src="#{illustration}").category-item__image
                a(href="#").category-item__link &gt;
                div.category-item__blackoverlay


          div.category-container.category-container_animation
            div.category-item.category-item_animation
              //- p Test...
              img(src="").category-item__image
              a(href="#").category-item__link &gt;
              div.category-item__blackoverlay
        
      div.third

        a(href="#").third__title.animated.fadeInLeft Third Part

        div.portfolio

          div.portfolio-container.portfolio-container_random

          div.portfolio-container.portfolio-container_logos

          div.portfolio-container.portfolio-container_landings

          div.portfolio-container.portfolio-container_illustrations
            +thirdPartPortfolioItem("illustrations", "img/logo1full.png", "Monkey", "Иллюстрация окровавленного шлема с отсылкой к игре DOOM, сочетающая в себе первобытную агрессию. Отдалённо напоминает профиль гориллы.")
            +thirdPartPortfolioItem("illustrations", "img/logo2full.jpg", "Автопортрет", "Изображение себя в привычном состоянии.")
            +thirdPartPortfolioItem("illustrations", "img/logo3full.jpg", "Редис", "Иллюстрация/логотип позитивного растения.")
            +thirdPartPortfolioItem("illustrations", "img/logo4full.jpg", "Clint", "Портрет известного героя вестернов в стиле flat.")
            +thirdPartPortfolioItem("illustrations", "img/logo5full.jpg", "Плакат", "Мотивирующий плакат.")
            +thirdPartPortfolioItem("illustrations", "img/logo6full.jpg", "Trand-photo", "Авторская обработка своих фотографий, изображающая мечты.")
            +thirdPartPortfolioItem("illustrations", "img/logo7full.jpg", "Zorge", "Иллюстрация/логотип известного разведчика.")
            +thirdPartPortfolioItem("illustrations", "img/logo8full.jpg", "Comediant", "Иллюстрация предположительного убийцы Кеннеди.")
            +thirdPartPortfolioItem("illustrations", "img/logo9full.jpg", "D", "Одна из иконок. В данном случае обозначает “Design”.")
            +thirdPartPortfolioItem("illustrations", "img/logo10full.jpg", "Something", "Изображение странной конструкции.")
            +thirdPartPortfolioItem("illustrations", "img/logo11full.jpg", "Плакат для Конкурса", "С собственными иллюстрациями.")
            +thirdPartPortfolioItem("illustrations", "img/logo12full.jpg", "IKiM", "Логотип кафедры МПУ – Институт Коммуникации и Медибизнеса.")
            +thirdPartPortfolioItem("illustrations", "img/logo13full.jpg", "Simhoko", "Для себя.")
            +thirdPartPortfolioItem("illustrations", "img/logo14full.jpg", "D1AZZZ", "Часть работы по оформлению канала на ресурсе Twitch.tv.")

          div.header__third__portfolio__container.header__third__portfolio__animation
            //- +thirdPartPortfolioItem("animation", "", "ЗАЕБИСЬ", "Работает!")
          

    div.sidebar
      a(href="#").icon
        img(src="img/menu.png")
      
      div.navbar
        ul.navbar-list
          - var menus = ["D", "M", "V", "L", "Chat"];

          for menu in menus
            li.navbar-list__item
              a(href="#").link= menu
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="js/app.js")